

/* ==========================================================================
   Kamil Owczarz's custom styles
   ========================================================================== */

#jumboBacInd {
    background: image();
}


#loginForm{
    height: 280px;
    width: 260px;
    position: center;

}

#navLabel{
    color: #adadad ;
}

#zar_nav{
    position: absolute;
    align-content: center;
}
